.distribution {
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 5rem 0;
    text-align: center;

    .purchase {
        margin: 1rem 0;
    }

    .outer-ul {
        margin: 5rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7.5rem;
        font-size: 1.25rem;
        flex-wrap: wrap;

        .inner-ul {
            width: 12.5rem;

            li {
                &:first-child {
                    font-size: 1.5rem;
                    letter-spacing: 5px;
                    font-weight: 500;
                }
            }
        }
    }
}


@media only screen and (max-width: 900px) {}